{{ $content := false }}
{{ with .Content }}
  {{ $content = true }}
{{ end }}
<div class="p-4 relative flex items-center justify-between my-4 block border {{ if $content }} border-green-300 {{ end }}">
  <a class="block " href="{{ .RelPermalink }}">{{ .Title | safeHTML }}
  </a>
  {{ with .Params.remote_service }}
  <div class="absolute right-0 top-0 border-b border-l px-2 text-xs">
    {{ . }}
  </div>
{{ end }}
{{ with .Params.work_types }}
  {{ with partialCached "func/GetWorkType" . . }}
    <a class="text-blue-500 hover:underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
{{ end }}
{{ with .Params.poster }}
  <div class="w-8 h-8 bg-cover bg-center ml-4" style="background-image:url({{ . }});"></div>
{{ end }}
</div>